# Node.js 환경 설정
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 환경 변수 파일 (비밀번호, API 키 등을 보호)
.env

# 로그 파일
*.log

# 디버그 정보
.vscode/

# OS 관련 파일 (macOS, Windows)
.DS_Store
Thumbs.db

# 테스트 관련 디렉토리
coverage/

# 빌드된 파일 (예: TypeScript로 개발 시)
dist/
build/
